root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_size = 4

[*.md]
# Markdown usa dois espaços no final da linha para <br> — não remover
trim_trailing_whitespace = false
